/*
Colors used:
Primary Color (Black): #333333;
BG Color #FCF8F9;
Emphhasize Color #AE8189;
Secondary Grey #7E7A7A;
Emphasize Light Pink #FFC5C5;
*/
main {
  padding-top: 158px;
}

body {
  background-color: #fcf8f9;
  font-family: 'Orkney', sans-serif;
  font-size: 16px;

  /* Sets the font size to 16px */
  font-weight: 300;

  /* Sets the font weight to 300 */
  line-height: 1.6;

  /* Sets the line-height to 1.6 * the font-size */
  color: #333;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

h5 {
  font-size: 1.21em;
  font-weight: 400;
  padding: 10px;
  margin: 5px;
}

img {
  width: 100%;
}

/* Links */
a {
  font-size: 16px;
  color: #ae8189;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.4;
  padding: 20px;
  margin: 16px;
  text-decoration: underline 0.15em rgba(174, 129, 137);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

/* No underlining */

a:hover {
  color: #ffc5c5;
  text-decoration-color: rgba(255, 197, 197);
  text-underline-offset: 0.4em;
}

a:visited {
  /* visited link */
  color: #ae8189;
}

a:active {
  /* selected link */
  color: #7a6367;
}

a:focus {
  text-decoration: underline 4px;
  text-decoration-color: #ffc5c5;
}

/* general buttons */
.button {
  display: inline-block;

  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: none;

  /* needed to override the default link color */
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: underline 10px;
  text-decoration-color: #ffc5c5;
}

.button:active {
  color: #7a6367;
}

.prototype {
  justify-content: stretch;
}

.button.contact {
  background-color: transparent;
  color: #ae8189;
  text-decoration: none;
  font-size: 16px;
  padding: 8px;
  border: 2px solid #ae8189;
  transition-duration: 0.5s;
  transition-property: opacity;
}

.button.contact:hover {
  background-color: #ffc5c5;
  color: #ae8189;
  opacity: 0.6;

  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#hero h1 {
  text-align: center; /* Centers text */
}

#hero h2 {
  text-align: center; /* Centers text */
}

#hero h3 {
  text-align: center; /* Centers text */
}

#hero h4 {
  text-align: center; /* Centers text */
}

#hero h5 {
  text-align: left; /* Centers text */
}

#hero h6 {
  text-align: center; /* Centers text */
}

.logo {
  max-width: 150px;
}

header {
  background-color: #fcf8f9;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  border: solid 0;
  box-shadow: 0 6px 18px rgba(174, 129, 137, 0.2);
  -webkit-box-shadow: 0 6px 18px rgba(174, 129, 137, 0.2);
  -moz-box-shadow: 0 6px 18px rgba(174, 129, 137, 0.2);
}

body {
  text-align: left;
}

footer {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  justify-content: space-around;
}

ul > li {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  font-size: x-small;
  text-transform: uppercase;
  font-weight: 700;
  color: #7a6367;
}

#hero span {
  display: block;
}

nav > ul > li > a:visited {
  color: #ae8189;
}

nav > ul > li > a.hover {
  text-decoration: underline 10px;
  text-decoration-color: #ffc5c5;
}

nav > ul > li > a.active {
  color: #7a6367;
}

nav > ul > li > a.focus {
  text-decoration: underline 10px;
  text-decoration-color: #ffc5c5;
}

nav {
  display: inline-block;
  width: 100%;
}

#hero {
  background-color: #fcf8f9;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

[class*="col-"] {
  float: left;
}

@keyframes color-change {
  0% { fill: #dce8ff; }
  50% { fill: #3b60a8; }
  100% { fill: #ccdbff; }
}

.st0 {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from { transform: translate(0, 50px); }
  to { transform: translate(200px, 50px); }
}

.st19 {
  animation: 10s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); }
  to { transform: translate(100px, 48px); }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  [class*="col-"] {
    float: left;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }
}

[class*="col-"] {
  float: left;
  padding: 14px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  [class*="col-"] {
    float: left;
  }

  [class*="col-"] {
    float: left;
    padding: 40px;
    margin: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  [class*="col-"] {
    float: left;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 641px) {
  .logo {
    size: 115px;
  }
}
